:root {
  --primaryFontFamily: 'Fraunces', serif;
  --secondaryFontFamily: 'Montserrat', sans-serif;
  --darkCyan: hsl(158, 36%, 37%);
  --veryDarkCyan: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  display: flex;
  height: 45rem;
  width: 60rem;
  border-radius: 1rem;
  overflow: hidden;
}

.img {
  width: 30rem;
}

.info-container {
  margin: 3.2rem;
  width: 50%;
}

.info,
.current-prize,
.category {
  font-family: var(--secondaryFontFamily);
  color: var(--darkGrayishBlue);
  font-weight: 500;
}

.category {
  letter-spacing: 0.65rem;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.name {
  font-family: var(--primaryFontFamily);
  font-size: 3.1rem;
  text-align: left;
  word-spacing: 1px;
  margin-bottom: 3rem;
  line-height: 1;
}

.info {
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.prize {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  column-gap: 3rem;
}

.sale-prize {
  font-family: var(--primaryFontFamily);
  font-size: 3rem;
  font-weight: 700;
  color: var(--darkCyan);
}

.current-prize {
  font-size: 1.2rem;
  text-decoration: line-through;
}

.btn-container {
  width: 100%;
}

.icon {
  position: relative;
  width: 15px;
  top: 3px;
  margin-right: 5px;
}

.btn {
  background-color: var(--darkCyan);
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  padding: 14px 0;
  font-family: var(--secondaryFontFamily);
  font-weight: 700;
  width: 100%;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--veryDarkCyan);
}

@media screen and (max-width: 615px) {
  .card {
    flex-direction: column;
    height: 62rem;
    width: 35rem;
  }
  .info-container {
    margin: 2.3rem;
    width: 85%;
  }
  .img {
    height: 23rem;
    width: 100%;
    content: url(images/image-product-mobile.jpg);
  }
}
